body {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    background-color: #242424;
  }
  
  .container {
    display: flex;
    max-width: 1500px;
  }
  
  #header {
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    padding-top: 27px;
    color: #fff;
  }
  
  .logo {
    padding: 6px 20px;
    display: block;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  ul#main-menu li a {
    padding: 10px 20px;
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 23px;
  }
  
  ul#main-menu li:hover {
    border-bottom: solid 5px #fff;
    transition: all 0.2s ease-in-out;
  }
  
  a button {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    font-size: 1.5rem;
    padding: 0px 25px;
    height: 80%;
    background-color: transparent;
    color: #fff;
    margin: 0 10px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }
  
  a button:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
  
  /* end header */

section{
  margin: 40px 0px;
}

.form-tt {
  width: 600px;
  border-radius: 10px;
  overflow: hidden;
  padding: 55px 55px 37px;
  background: #7b7979;
  text-align: center;
  margin: 0 auto;
  }



  .form-tt h1 {
  font-size: 30px;
  color: #242424;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin-bottom: 30px;
  }
  
  .form-tt input[type=text], .form-tt input[type=password] {
  font-family: Poppins-Regular;
  font-size: 16px;
  color: #242424;
  line-height: 1.2;
  display: block;
  width: calc(100% - 10px);
  height: 45px;
  background: 0 0;
  padding: 10px 0;
  border-bottom: 2px solid rgba(255,255,255,.24)!important;
  border: 0;
  outline: 0;
  }
  .form-tt input[type=text]::focus, .form-tt input[type=password]::focus {
  color: red;
  }
  .form-tt input[type=password] {
  margin-bottom: 20px;
  }
  .form-tt input::placeholder {
  color: #fff;
  }
  .checkbox {
  display: block;
  }
  .form-tt input[type=submit] {
  font-size: 16px;
  color: #555;
  line-height: 1.2;
  padding: 0 20px;
  min-width: 120px;
  height: 50px;
  border-radius: 25px;
  background: #fff;
  position: relative;
  z-index: 1;
  border: 0;
  outline: 0;
  display: block;
  margin: 30px auto;
  }

  .form-tt input[type=submit]:hover{
    background-color: #242424;
    color: #eee;
  }

  #checkbox {
  display: inline-block;
  margin-right: 10px;
  }
  .checkbox-text {
  color: #fff;
  }
  .psw-text {
  color: #fff;
  }

/* end section */
  footer {
    font-family: "PT Sans", sans-serif;
    color: #fff;
    background-color: #1b1a1a;
  }
  
  .footer-link-wrapper {
    display: flex;
    justify-content: center;
  }
  
  .footer-link-items ul li {
    text-align: center;
  }
  
  .footer-link-items ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-link-items ul li a:hover {
    font-size: 17px;
  }
  
  .footer-items {
    display: flex;
    justify-content: space-around;
  }
  
  .chungnhan img {
    width: 120px;
    height: 40px;
  }
  
  /* end footer */
  
  .phancach {
    background-color: #eee;
  }
  
  .phancach2 {
    background-color: #eee;
    width: 70%;
  }
  
  .phancach1 {
    background-color: #eee;
    height: 3px;
    width: 10%;
  }
  /* phân cách hr */
  